@charset "UTF-8";
*::-webkit-input-placeholder {
  color: #dfdfdf;
  opacity: 1;
  font-size: 16px;
  font-family: 'OpenSansLightItalic'; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

html, body {
  width: 100%;
  overflow-x: hidden; }

.fixed {
  position: fixed;
  background-color: #e74c3c;
  top: 0;
  min-width: 100%;
  left: 0; }

body {
  color: #eee;
  overflow-x: hidden;
  min-width: 100%; }
  body a {
    color: #eee;
    text-decoration: none; }
    body a:hover {
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }

.title_red {
  color: #e74c3c;
  font-family: 'CamptonLightDEMO';
  font-weight: 200; }

.title_red:after {
  width: 100px;
  margin-top: 30px;
  display: block;
  height: 2px;
  content: '';
  background: #e74c3c; }

.bold {
  font-family: 'CamptonBoldDEMO';
  font-weight: bold; }

.close {
  display: none !important; }

.row.skills {
  margin-right: 0px; }

header {
  background: url(../img/first-background.jpg) no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  height: 100%;
  width: 100%; }
  header .navbar {
    z-index: 11;
    width: 100%; }
    header .navbar .header-menu {
      padding-bottom: 30px; }
    header .navbar .logo {
      float: left;
      padding-top: 40px;
      padding-left: 10px; }
    header .navbar .burger {
      float: right;
      padding-top: 35px;
      padding-right: 10px; }
      header .navbar .burger i {
        font-size: 36px;
        color: #fff; }
    header .navbar .menu {
      height: 100%;
      display: none;
      background-color: #e74c3c;
      opacity: .9;
      width: 100%;
      z-index: 1000;
      top: 0;
      text-align: center; }
      header .navbar .menu i {
        opacity: 1;
        float: right;
        padding-top: 30px;
        padding-right: 10px;
        font-size: 46px;
        color: #fff;
        cursor: pointer; }
      header .navbar .menu .nav {
        opacity: 1;
        margin-top: 320px;
        list-style: none;
        font-family: 'OpenSansRegular';
        font-size: 35px;
        text-transform: uppercase;
        padding-bottom: 45px; }
        header .navbar .menu .nav li {
          border-bottom: 2px solid #fff; }
          header .navbar .menu .nav li a {
            color: #f2f2f2;
            padding: 23px 0;
            display: block; }
            header .navbar .menu .nav li a:hover {
              color: #fff;
              font-weight: 900; }
      header .navbar .menu .soc-sites {
        z-index: 10;
        padding-bottom: 80px;
        list-style: none;
        text-align: center; }
        header .navbar .menu .soc-sites li {
          display: inline-block;
          border: 1px solid #fff;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          margin-left: 10px; }
          header .navbar .menu .soc-sites li:hover {
            -webkit-box-shadow: 0px 0px 0px 5px white;
                    box-shadow: 0px 0px 0px 5px white; }
          header .navbar .menu .soc-sites li a i {
            font-size: 20px;
            text-align: center;
            padding-top: 0;
            padding: 10px; }
            header .navbar .menu .soc-sites li a i:hover {
              -webkit-transform: rotate(360deg);
                  -ms-transform: rotate(360deg);
                      transform: rotate(360deg);
              -webkit-transition: all 1s ease;
              -o-transition: all 1s ease;
              transition: all 1s ease; }
        header .navbar .menu .soc-sites li:first-child i {
          padding: 10px 15px; }
        header .navbar .menu .soc-sites li:nth-child(3) i, header .navbar .menu .soc-sites li:nth-child(5) i {
          padding: 10px 12px; }
  header .owl-carousel-first .slide {
    padding-bottom: 100px;
    color: #eeeeee;
    padding-top: 100px;
    height: auto;
    text-align: center; }
    header .owl-carousel-first .slide h1 {
      font-family: 'CamptonLightDEMO';
      font-size: 80px;
      text-transform: uppercase;
      font-weight: 200;
      z-index: 3;
      line-height: 90px; }
    header .owl-carousel-first .slide p {
      font-size: 28px;
      font-family: 'CamptonLightDEMO';
      line-height: 30px;
      padding-top: 50px;
      font-weight: 200;
      padding-bottom: 50px; }
    header .owl-carousel-first .slide .button {
      font-size: 20px;
      font-family: 'CamptonBoldDEMO';
      color: #eee;
      font-weight: bold;
      border: 2px solid #eeeeee;
      padding: 25px 60px;
      -webkit-border-radius: 5px;
              border-radius: 5px; }
      header .owl-carousel-first .slide .button:hover {
        background-color: #e74c3c;
        border: 2px solid #e74c3c; }
    header .owl-carousel-first .slide .button:last-child {
      margin-left: 30px; }
  header .owl-carousel-first .owl-nav .owl-prev {
    position: absolute;
    top: 320px;
    left: 15px; }
  header .owl-carousel-first .owl-nav .owl-next {
    right: 15px;
    position: absolute;
    top: 320px; }
  header .owl-carousel-first .owl-dots {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 180px; }
    header .owl-carousel-first .owl-dots .owl-dot {
      width: 40px;
      height: 5px;
      background-color: #fff;
      display: inline-block;
      margin-left: 20px; }
    header .owl-carousel-first .owl-dots .active {
      background-color: #e74c3c; }

.call-to-action {
  margin-top: -105px;
  width: 100%;
  background-color: #e74c3c;
  height: auto;
  z-index: 1;
  border-bottom: 2px solid #cebdbb; }
  .call-to-action p {
    font-size: 22px;
    float: left;
    line-height: 70px; }
  .call-to-action .button {
    float: right;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #EEE;
    margin-top: 15px;
    text-align: center;
    margin-bottom: 14px;
    padding: 25px 60px;
    -webkit-border-radius: 5px;
            border-radius: 5px; }
    .call-to-action .button:hover {
      background-color: #fff;
      color: #e74c3c; }

#about_us {
  background-image: url(../img/about_us-background.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  z-index: 2; }
  #about_us::before {
    width: 100%;
    height: 1000px;
    background-color: #eee;
    opacity: .9;
    z-index: 1; }
  #about_us .about_us--header p {
    color: #3d3d3d;
    font-size: 18px;
    font-family: 'OpenSansRegular';
    line-height: 35px; }
  #about_us .about_us--header .title {
    padding-top: 60px;
    color: #000;
    font-size: 40px;
    line-height: 30px;
    font-family: 'CamptonBoldDEMO'; }
  #about_us .about_us--header .text {
    font-family: 'CamptonLightDEMO';
    color: #272727;
    font-size: 40px;
    line-height: 60px;
    font-weight: 200; }
  #about_us .about_us--header .mac {
    margin-top: -50px; }
  #about_us .about_us--text-slideDown {
    padding-top: 50px; }
    #about_us .about_us--text-slideDown .hide,
    #about_us .about_us--text-slideDown .hide + label ~ div {
      display: none; }
    #about_us .about_us--text-slideDown .hide + label {
      margin: 0;
      width: 100%;
      color: #272727;
      cursor: pointer;
      padding: 10px;
      margin-bottom: 18px;
      font-family: 'OpenSansSemibold';
      display: inline-block;
      background-color: #eee;
      font-size: 18px; }
    #about_us .about_us--text-slideDown .hide:checked + label {
      background-color: #e74c3c;
      color: #eee; }
    #about_us .about_us--text-slideDown .hide:checked + label + div {
      display: block;
      padding: 10px;
      padding-bottom: 40px;
      margin-left: 15px;
      line-height: 35px;
      color: #3d3d3d;
      font-size: 18px;
      font-family: 'OpenSansRegular';
      -webkit-animation: fade ease-in 0.5s;
      animation: fade ease-in 0.5s; }

@-webkit-keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
    #about_us .about_us--text-slideDown .hide + label:before {
      color: #343a3b;
      content: "\002B";
      display: block;
      float: right;
      font-size: 24px;
      font-weight: bold;
      height: 16px;
      line-height: 16px;
      margin: 3px 5px;
      margin-left: 40px;
      margin-right: 20px;
      text-align: center;
      width: 16px;
      -webkit-border-radius: 50%;
      border-radius: 50%; }
    #about_us .about_us--text-slideDown .hide:checked + label:before {
      content: "\2212";
      color: #eee; }
    #about_us .about_us--text-slideDown .client {
      margin-top: -200px; }

.about_us--caseStudy {
  padding-bottom: 100px;
  color: #fff;
  width: 100%;
  margin-top: -50px; }
  .about_us--caseStudy .case_1, .about_us--caseStudy .case_2 {
    padding-top: 100px;
    height: 500px;
    background-image: url(../img/about_us_1.jpg);
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
    text-align: right; }
    .about_us--caseStudy .case_1 h3, .about_us--caseStudy .case_2 h3 {
      font-size: 35px;
      line-height: 38px;
      font-family: 'CamptonBoldDEMO'; }
    .about_us--caseStudy .case_1 p, .about_us--caseStudy .case_2 p {
      font-size: 18px;
      font-family: 'OpenSansLight';
      line-height: 30px;
      padding-bottom: 140px; }
  .about_us--caseStudy .case_1:hover::before {
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .85;
    position: absolute;
    background-color: #e74c3c; }
  .about_us--caseStudy .case_2:hover::before {
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .85;
    position: absolute;
    background-color: #e74c3c; }
  .about_us--caseStudy .case_2 {
    text-align: left;
    background-image: url(../img/about_us_2.jpg);
    margin-bottom: 80px; }

.why_us {
  padding-bottom: 50px; }
  .why_us h2 {
    font-size: 40px;
    color: #000;
    font-weight: 200;
    padding-bottom: 50px; }
  .why_us .reasons .reason {
    text-align: center;
    padding-top: 50px; }
    .why_us .reasons .reason i {
      color: #e74c3c;
      font-size: 36px;
      padding: 20px;
      border: 1px solid #eeeeee; }
    .why_us .reasons .reason .fa-mobile {
      padding: 20px 30px;
      font-size: 42px; }
    .why_us .reasons .reason h3 {
      color: #000;
      font-size: 25px;
      font-family: 'CamptonLightDEMO';
      font-weight: 200; }
    .why_us .reasons .reason p {
      color: #a7a7a7;
      font-size: 18px;
      font-family: 'OpenSansLight'; }
  .why_us .reasons .reason:hover {
    cursor: pointer; }
    .why_us .reasons .reason:hover i {
      background-color: #e74c3c;
      color: #fff;
      -webkit-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease; }
  .why_us .skills {
    background-image: url(../img/skills_man.jpg);
    -webkit-background-size: cover;
            background-size: cover;
    padding-bottom: 100px; }
    .why_us .skills .meter {
      height: 25px;
      /* Can be anything */
      position: relative;
      margin: 50px 0 20px 0;
      /* Just for demo spacing */
      background: #f2f2f2;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      padding: 10px;
      -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
      box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3); }
    .why_us .skills h3 {
      margin-top: -49px;
      margin-left: -10px;
      font-size: 16px;
      color: #202020;
      font-family: 'CamptonLightDEMO';
      font-weight: 500; }
    .why_us .skills .meter > span {
      margin-left: -10px;
      display: block;
      height: 100%;
      -webkit-border-top-right-radius: 3px;
      -webkit-border-bottom-right-radius: 3px;
      -moz-border-radius-top-right: 3px;
      -moz-border-radius-bottom-right: 3px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      -webkit-border-top-left-radius: 3px;
      -webkit-border-bottom-left-radius: 3px;
      -moz-border-radius-top-left: 3px;
      -moz-border-radius-bottom-left: 3px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      background-color: #2bc253;
      background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2bc253), color-stop(1, #54f054));
      background-image: -moz-linear-gradient(center bottom, #2bc253 37%, #54f054 69%);
      -webkit-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
      box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
      position: relative;
      overflow: hidden; }
    .why_us .skills .meter > span:after, .why_us .skills .animate > span > span {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, rgba(255, 255, 255, 0.2)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.75, rgba(255, 255, 255, 0.2)), color-stop(0.75, transparent), to(transparent));
      background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
      z-index: 1;
      -webkit-background-size: 50px 50px;
      -moz-background-size: 50px 50px;
      -webkit-border-top-right-radius: 8px;
      -webkit-border-bottom-right-radius: 8px;
      -moz-border-radius-top-right: 8px;
      -moz-border-radius-bottomr-ight: 8px;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      -webkit-border-top-left-radius: 20px;
      -webkit-border-bottom-left-radius: 20px;
      -moz-border-radius-top-left: 20px;
      -moz-border-radius-bottom-left: 20px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      overflow: hidden; }
    .why_us .skills .animate > span:after {
      display: none; }

@-webkit-keyframes move {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 50px 50px; } }
    .why_us .skills .orange > span {
      background-color: #ec6659;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ec6659), color-stop(1, #ec6659));
      background-image: -webkit-linear-gradient(#ec6659, #ec6659); }
    .why_us .skills .nostripes > span > span, .why_us .skills .nostripes > span:after {
      -webkit-animation: none;
      background-image: none; }
  .why_us .process {
    background-image: url(../img/wht_us--pocess_bg.jpg);
    -webkit-background-size: cover;
            background-size: cover; }
    .why_us .process .process_bar {
      padding-top: 100px;
      padding-bottom: 120px; }
    .why_us .process .line {
      padding-bottom: 30px; }
      .why_us .process .line .first {
        margin-top: 100px; }
      .why_us .process .line img {
        margin-left: 30px; }
      .why_us .process .line h4 {
        margin-top: -35px;
        margin-left: 110px;
        font-size: 25px;
        font-family: 'CamptonBoldDEMO'; }
      .why_us .process .line p {
        font-family: 'OpenSansLight';
        margin-left: 110px;
        margin-top: -10px;
        font-size: 18px; }

.team {
  margin-top: -50px;
  background-color: #f8f7f7;
  padding-bottom: 80px; }
  .team h2 {
    color: #000;
    margin-top: 90px;
    font-size: 40px;
    font-weight: 200; }
  .team p {
    font-size: 18px;
    color: #666;
    padding-top: 40px;
    padding-bottom: 30px; }
  .team .worker {
    padding: 0;
    border: 1px solid transparent;
    margin: 0; }
  .team .first {
    border: 1px solid #ec6659;
    padding-bottom: 0;
    padding: 0; }
  .team .about_person {
    display: none; }
  .team .person {
    text-align: center;
    margin-top: 40px;
    position: relative; }
  .team .person:hover .about_person {
    text-align: center;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    background-color: #ec6659;
    opacity: .95;
    height: 100%;
    width: 220px;
    padding-top: 50px; }
    .team .person:hover .about_person h5 {
      margin-top: 50px;
      text-transform: uppercase;
      font-size: 20px;
      font-family: 'CamptonBoldDEMO'; }
    .team .person:hover .about_person p {
      margin-top: -70px;
      color: #fff;
      font-family: 'OpenSansLight'; }
    .team .person:hover .about_person .button {
      margin-top: 40px;
      display: block;
      background-color: #c0392b;
      opacity: 1;
      z-index: 2;
      padding: 25px 0px;
      font-size: 18px;
      font-family: 'CamptonBoldDEMO'; }

.customer_said {
  background-image: url(../img/comment.png);
  padding-top: 50px;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  text-align: center; }
  .customer_said h2 {
    font-family: 'CamptonLightDEMO';
    font-size: 40px;
    font-weight: 200;
    padding-bottom: 50px; }
  .customer_said p {
    margin-top: -5px;
    font-family: 'OpenSansLightItalic';
    color: #eee;
    font-size: 18px;
    line-height: 30px; }
    .customer_said p .red {
      color: #ec6659;
      font-family: 'OpenSansSemibold'; }
      .customer_said p .red .thin {
        font-weight: 200;
        font-family: 'OpenSansLight'; }
  .customer_said .owl-dots {
    padding-bottom: 80px;
    margin-left: 30px;
    margin-top: 20px; }
    .customer_said .owl-dots .owl-dot {
      width: 60px;
      height: 60px;
      background-color: #000;
      display: inline-block;
      margin-right: 30px;
      opacity: .5; }
    .customer_said .owl-dots .owl-dot:first-child {
      background-image: url(../img/customer_1.png);
      -webkit-background-size: cover;
              background-size: cover;
      -webkit-border-radius: 50%;
              border-radius: 50%; }
    .customer_said .owl-dots .owl-dot:nth-child(2) {
      background-image: url(../img/customer_2.png);
      -webkit-background-size: cover;
              background-size: cover;
      -webkit-border-radius: 50%;
              border-radius: 50%; }
    .customer_said .owl-dots .owl-dot:nth-child(3) {
      background-image: url(../img/customer_3.png);
      -webkit-background-size: cover;
              background-size: cover;
      -webkit-border-radius: 50%;
              border-radius: 50%; }
    .customer_said .owl-dots .owl-dot:nth-child(4) {
      background-image: url(../img/customer_4.png);
      -webkit-background-size: cover;
              background-size: cover;
      -webkit-border-radius: 50%;
              border-radius: 50%; }
    .customer_said .owl-dots .owl-dot:last-child {
      background-image: url(../img/customer_5.png);
      -webkit-background-size: cover;
              background-size: cover;
      -webkit-border-radius: 50%;
              border-radius: 50%; }
    .customer_said .owl-dots .active {
      width: 80px;
      height: 80px;
      opacity: 1;
      margin-bottom: -10px; }
  .customer_said .owl-nav {
    margin-left: 30px; }
    .customer_said .owl-nav .owl-prev {
      position: relative;
      right: 270px;
      top: 90px; }
    .customer_said .owl-nav .owl-next {
      position: relative;
      top: 70px;
      left: 250px; }

#modal_form {
  text-align: left;
  height: 70%;
  /* Рaзмеры дoлжны быть фиксирoвaны */
  width: 90%;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 3px #000 solid;
  background: #fff;
  position: fixed;
  /* чтoбы oкнo былo в видимoй зoне в любoм месте */
  top: 35% !important;
  /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
  right: 6.3%;
  margin-top: -200px;
  /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
  display: none;
  /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
  opacity: 0;
  /* пoлнoстью прoзрaчнo для aнимирoвaния */
  z-index: 5;
  /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
  padding: 20px 10px; }
  #modal_form .worker_img {
    width: 40%;
    height: 100%; }
  #modal_form .text h3 {
    color: #000;
    font-size: 20px;
    font-family: 'CamptonBoldDEMO'; }
  #modal_form .text h4 {
    font-size: 16px;
    color: #000;
    font-family: 'OpenSansLight';
    margin-top: -20px; }
  #modal_form .text p {
    color: #666;
    font-size: 16px; }
  #modal_form .text .worker_skill img {
    padding-top: 25px;
    padding-left: 25px; }
  #modal_form .text .worker_soc_sites {
    padding-top: 30px; }
    #modal_form .text .worker_soc_sites li {
      list-style: none;
      display: inline-block;
      margin-right: 10px; }
      #modal_form .text .worker_soc_sites li a {
        color: #cecece; }
        #modal_form .text .worker_soc_sites li a i {
          font-size: 25px;
          padding: 10px;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          border: 1px solid #cecece; }
          #modal_form .text .worker_soc_sites li a i:hover {
            color: #3c5a99;
            border: 1px solid #3c5a99;
            -webkit-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
            -webkit-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                    transform: rotate(360deg); }
        #modal_form .text .worker_soc_sites li a .fa-facebook {
          padding: 10px 15px; }

/* Кнoпкa зaкрыть */
#modal_form #modal_close, #modal_send #modal_close_2 {
  width: 40px;
  height: 40px;
  right: -1px;
  text-align: center;
  top: -1px;
  font-size: 20px;
  line-height: 40px;
  position: absolute;
  background-color: #000;
  cursor: pointer;
  display: block; }

/* Пoдлoжкa */
#overlay {
  z-index: 3;
  /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
  position: fixed;
  /* всегдa перекрывaет весь сaйт */
  background-color: #000;
  /* чернaя */
  opacity: 0.8;
  /* нo немнoгo прoзрaчнa */
  -moz-opacity: 0.8;
  /* фикс прозрачности для старых браузеров */
  filter: alpha(opacity=80);
  width: 100%;
  height: 100%;
  /* рaзмерoм вo весь экрaн */
  top: 0;
  /* сверху и слевa 0, oбязaтельные свoйствa! */
  left: 0;
  cursor: pointer;
  display: none;
  /* в oбычнoм сoстoянии её нет) */ }

.promote {
  font-size: 20px;
  background-color: #e74c3c;
  padding-top: 40px;
  padding-bottom: 40px; }
  .promote p {
    font-family: 'CamptonLightDEMO';
    display: inline-block; }
  .promote .button_in {
    background-color: #c0392b;
    padding: 25px 15px;
    font-family: 'CamptonBoldDEMO';
    -webkit-border-radius: 5px;
            border-radius: 5px;
    border: 4px solid transparent;
    text-align: center; }
    .promote .button_in:hover {
      border: 4px solid #fff;
      background-color: #e74c3c; }
  .promote .or {
    padding: 0 10px;
    text-align: center; }
  .promote .button {
    border: 4px solid #fff;
    text-align: center;
    padding: 25px 40px;
    font-family: 'CamptonBoldDEMO';
    -webkit-border-radius: 5px;
            border-radius: 5px; }
    .promote .button:hover {
      background-color: #c0392b;
      border: 4px solid transparent; }

#portfolio {
  padding-top: 90px;
  text-align: center;
  padding-bottom: 80px; }
  #portfolio h2 {
    font-size: 40px;
    font-family: 'CamptonLightDEMO';
    color: #000;
    font-weight: 100; }
    #portfolio h2 .title_red {
      font-family: 'CamptonBoldDEMO'; }
      #portfolio h2 .title_red:after {
        text-align: center;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 50px; }
  #portfolio p {
    font-size: 20px;
    line-height: 30px;
    color: #000;
    font-family: 'OpenSansLight'; }
    #portfolio p .light {
      font-size: 17px;
      color: #666; }
  #portfolio .panel {
    text-align: center;
    padding-bottom: 50px; }
    #portfolio .panel * {
      display: inline-block; }
    #portfolio .panel img {
      margin-bottom: 5px;
      margin-right: -40px; }
    #portfolio .panel li {
      font-size: 16px;
      color: #666;
      padding: 0 8px; }
      #portfolio .panel li a {
        color: #666;
        font-family: 'OpenSansLight'; }
      #portfolio .panel li .active {
        color: #ec6659;
        font-family: 'OpenSansSemibold'; }
  #portfolio .examples {
    padding-bottom: 50px; }
    #portfolio .examples .example {
      width: 24.8%;
      display: inline-block;
      margin: 0;
      padding: 0;
      position: relative; }
      #portfolio .examples .example:hover .content {
        vertical-align: middle;
        display: block;
        clear: none;
        visibility: visible;
        background-color: #ec6659;
        opacity: .9;
        height: 100%;
        width: 100%; }
        #portfolio .examples .example:hover .content h3 {
          font-size: 30px;
          font-family: 'OpenSansSemibold';
          margin-top: 160px;
          margin-bottom: 50px;
          color: #fff; }
        #portfolio .examples .example:hover .content a {
          font-size: 18px;
          font-family: 'CamptonBoldDEMO';
          border: 2px solid #fff;
          padding: 15px 20px;
          color: #fff;
          -webkit-border-radius: 5px;
                  border-radius: 5px; }
    #portfolio .examples .content {
      position: absolute;
      top: 0;
      left: 0;
      visibility: hidden; }
    #portfolio .examples img {
      width: 100%;
      height: 100%; }
  #portfolio .button {
    color: #202020;
    font-size: 18px;
    border: 3px solid #666666;
    padding: 15px 30px;
    font-family: 'OpenSansLight'; }
    #portfolio .button i {
      color: #000;
      padding-right: 10px;
      font-size: 20px;
      padding-top: 5px;
      margin-bottom: -5px;
      position: relative;
      top: 1px; }

.clients {
  text-align: center;
  border-bottom: 2px solid #e5e5e5;
  padding-bottom: 60px; }
  .clients p {
    color: #202020;
    font-size: 18px;
    padding-bottom: 50px; }
  .clients img {
    padding: 30px;
    border: 2px solid #666;
    margin-left: 30px;
    width: 220px;
    height: 100px;
    margin-bottom: 30px; }
    .clients img:hover {
      border: 2px solid #ec6659;
      -webkit-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease; }

.hiring {
  background-color: #f4f4f4;
  padding-top: 100px;
  padding-bottom: 100px; }
  .hiring h2 {
    font-size: 40px;
    font-family: 'CamptonLightDEMO';
    font-weight: 200;
    text-transform: uppercase;
    color: #3a3a3a; }
    .hiring h2 .text-red {
      color: #e74c3c;
      font-family: 'CamptonBoldDEMO'; }
  .hiring p {
    color: #666;
    font-size: 19px; }
  .hiring img {
    margin-top: -140px; }

.twitter {
  background-image: url(../img/twitter_bg.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  padding-top: 150px;
  position: relative;
  padding-bottom: 150px;
  text-align: center; }
  .twitter i {
    font-size: 120px; }
  .twitter p {
    font-size: 18px;
    font-family: 'OpenSansLight';
    line-height: 35px; }

#map {
  width: 100%;
  height: 550px;
  color: #000; }
  #map a {
    color: #000; }

#contact {
  background-color: #e74c3c;
  padding-top: 30px;
  text-align: center; }
  #contact a {
    position: relative;
    display: block;
    bottom: 60px; }
    #contact a i {
      font-size: 24px;
      background-color: #e74c3c;
      padding: 25px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      margin-bottom: 25px; }
  #contact a {
    font-size: 30px;
    margin-bottom: -25px;
    position: relative;
    font-family: 'CamptonLightDEMO'; }
    #contact a b {
      font-family: 'CamptonBoldDEMO'; }

#modal_send {
  text-align: center;
  height: auto;
  /* Рaзмеры дoлжны быть фиксирoвaны */
  width: auto;
  left: 5%;
  right: 12%;
  background: #fff;
  position: fixed;
  /* чтoбы oкнo былo в видимoй зoне в любoм месте */
  top: 35% !important;
  /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
  margin-top: -150px;
  /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
  display: none;
  /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
  opacity: 0;
  /* пoлнoстью прoзрaчнo для aнимирoвaния */
  z-index: 50000;
  /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
  padding: 20px 10px; }
  #modal_send input, #modal_send textarea {
    border: 2px solid #dfdfdf;
    margin-top: 20px;
    padding: 25px 20px;
    overflow-x: hidden;
    font-size: 16px;
    font-family: 'OpenSansLight';
    color: #202020; }
  #modal_send input:nth-child(odd) {
    margin-right: 20px; }
  #modal_send textarea, #modal_send button {
    margin-left: 9.3%;
    border-bottom: none;
    resize: none; }
  #modal_send input:focus, #modal_send textarea:focus, #modal_send button:focus {
    outline: 2px solid #e74c3c; }
  #modal_send button {
    text-align: center;
    border: none;
    background-color: #e74c3c;
    padding: 15px;
    font-size: 20px; }

footer {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px; }
  footer p {
    padding-top: 30px;
    font-size: 18px;
    color: #b5b5b5;
    font-family: 'OpenSansLight'; }
  footer ul li {
    margin-top: 20px;
    display: inline-block;
    font-size: 30px;
    margin-left: 10px; }
    footer ul li a {
      padding: 10px;
      color: #e5e5e5;
      border: 1px solid #e5e5e5;
      -webkit-border-radius: 50%;
              border-radius: 50%; }
      footer ul li a:hover {
        color: #ea4e8a;
        border: 1px solid #ea4e8a; }
      footer ul li a .fa-facebook {
        padding: 10px; }
      footer ul li a .fa-twitter, footer ul li a .fa-google-plus, footer ul li a .fa-youtube, footer ul li a .fa-instagram, footer ul li a .fa-dribbble {
        padding: 5px; }
      footer ul li a i:hover {
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
        -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
                transform: rotate(360deg); }
